header {
  background-color: red;
  margin-top: 0px;
  padding: 2%;
}

.column-1 {
  background-color: green;
  float: left;
  max-width: 46%;
  padding: 2%;
}

.column-2 {
  background-color: orange;
  float: right;
  max-width: 46%;
  padding: 2%;
}

footer {
   background-color: blue;   
   clear: both;
   padding: 2%;
}

a:hover {
  color: white;
}
